.chat-main
  .chat-main__header
    .chat-main__group-info
      .chat-main__group-info-title
        test
      .chat-main__group-info-member
        member:TaigaMito
    .chat-main__group-info-btn
      = link_to "#", class: "icons__btn__edit" do
        Edit
  .chat-main__message-list
  .chat-main__message-form
    