* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  
}
.side-bar{
}

.side-bar__user-name{
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #253141;
  
}

.top-items{
  height: 20px;
  width: 260px;
  background-color: red;
  display: flex;
}

.top-items__name{
  height: 20px;
  width: 200px;
  background-color: skyblue;
}

.top-items__icons{
  height: 20px;
  width: 60px;
  background-color: green;
}


.side-bar__group-list{
  height: calc(100vh - 100px);
  width: 300px;
  background-color: #2f3e51;
  }

.chat-main{
      height: 100vh;
      width: calc(100vw - 300px);
      background-color: #ffffff;
}

.chat-main__group-info{
  height: 100px;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.chat-main__message-list{
  height: calc(100vh - 100px - 90px);
  width: calc(100vw - 300px);
  background-color: #fafafa;
}

.chat-main__message-form{
  height: 90px;
  width: calc(100vw - 300px);
  background-color: #d2d2d2;
}