* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  
}
.side-bar{
}

.side-bar__user-name{
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #253141;
  
}

.top-items{
  height: 20px;
  width: 260px;
  background-color: #253141;
  display: flex;
}

.top-items__name{
  height: 20px;
  width: 200px;
  font-size: 16px;
  background-color: #253141;
  color: #ffffff;
}

.top-items__icons{
  height: 20px;
  width: 60px;
  background-color: #253141;
  text-align: right;
}

.icons__btn__edit{
  text-decoration: none;
  color: #ffffff;
}

.icons__btn__cog{
  margin-left: 5px;
  color: #ffffff;
}

.side-bar__group-list{
  height: calc(100vh - 100px);
  width: 300px;
  padding: 0 20px;
  overflow: scroll;
  background-color: #2f3e51;
  }

.side-bar__group{
  height: 91px;
  width: 260px;
  padding: 20px 0 40px;
  background-color: #2f3e51;
}

.side-bar__group__name{
  font-size: 15px;
  color: #ffffff;
}

.side-bar__group__message{
  font-size: 11px;
  margin-top: 5px;
  color: #ffffff;
}

.chat-main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-main__group-info{
  height: 100px;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.chat-main__message-list{
  height: calc(100vh - 100px - 90px);
  width: calc(100vw - 300px);
  background-color: #fafafa;
}

.chat-main__message-form{
  height: 90px;
  width: calc(100vw - 300px);
  background-color: #d2d2d2;
}